body {
    background-color: #E7625F;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info-container {
    margin-top: px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 10px
    
}

.logo {
    height: 65px;
    width: 65px;
}


.navbar-brand {
    padding-left: 4px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color:#E7625F;
    padding: 5px;
}

.connection-container {
    text-align: center;
}

img {
    width: 400px;
}

input {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    outline: 1;
    background: #f2f2f2;
    width: 180px;
    border: 1px solid gray;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}

.hotel-card {
    background: #E9EAE0;
    padding: 20px;
    text-align: center;
}

.reservation {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    width: 360px;
    border: 0;
    padding: 15px;
    background: #E7625F;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.reservation:hover {
    background: #F7BEC0;
    color: white;
}


