body {
    background-color: #C85250;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 65px;
    width: 65px;
}


.navbar-brand {
    padding-left: 4px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color:#E7625F;
    padding: 5px;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E7625F;
}


.container {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #E9EAE0;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
}

.form input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}


.form button {
    color: #E9EAE0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    background: #E7625F;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.form button:hover, .form button:active {
    background: #F7BEC0;
    color: white;
}

.form .register-form {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
}