body {
    background-color: #C85250;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 65px;
    width: 65px;
}


.navbar-brand {
    padding-left: 4px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color:#E7625F;
    padding: 5px;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E7625F;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 65px;
}

.header {
    animation: transitionIn 7s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


.container {
    width: 360px;
    padding: 1% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #E9EAE0;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
}

.form input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid gray;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}


.form button {
    color: #E9EAE0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    background: #E7625F;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
}

.form button:hover, .form button:active {
    background: #F7BEC0;
    color: white;
}

.form .register-form {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.message {
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-one {
    background-color: #E9EAE0;
    background-size: 100%;
    border-bottom: 1px solid gray;
}

.words {
    padding: 5px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.words-two {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px 1px;
    padding: 5px;
    
}

.image-one, .image-two, .image-three,
 .image-four, .image-five {
     height: 150px;
     width: 270px;
     margin-bottom: 10px;
     border: 1px solid black;
     border-radius: 4px;
     box-shadow: 5px 5px 5px black;
     transition: 1.3s;
 }

 .image-one:hover, .image-two:hover, .image-three:hover,
 .image-four:hover, .image-five:hover {
    transform: scale(1.25);
     z-index: 1;
 }

 .section-two {
     background-color: #c9c9c9;
 }