body {
    background-color: #C85250;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E7625F;
}

.logo {
    height: 65px;
    width: 65px;
}


.navbar-brand {
    padding-left: 4px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color:#E7625F;
    padding: 5px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
}

.header {
    animation: transitionIn 7s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.date-container {
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    background: #E9EAE0;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
    border-radius: 4px;
}

input {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    outline: 1;
    background: #f2f2f2;
    width: 225px;
    border: 1px solid gray;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}

.date-btn {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    width: 225px;
    border: 0;
    padding: 15px;
    background: #E7625F;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
}

.date-btn:hover, .date-btn:active {
    background: #F7BEC0;
    color: white;
}